
<div class="navbar theme-red">
    <div class="navbar-inner theme-red">
        <div class="center">会议发起</div>
    </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through  ">
	<div id="ip0102" class="page ">
	<div class="content-block-title"></div>
	<form action="" id="mettingform">
	
	<div class="list-block">
		  <ul>
			    <li>
				<div class="item-content">
				<div class="item-media"><i class="icon icon-form-name"></i></div>
				<div class="item-inner">
		         <div class="item-title label">主题</div>
		         <div class="item-input">
		         <input type="text"  value="" name="topic" placeholder="请输入会议主题"  id="topic" maxlength="10"/>
		         </div>
		       </div>
		       </div>
		       </li>
		     
		       <li>
				<div class="item-content">
				<div class="item-media"><i class="icon icon-form-url"></i></div>
				<div class="item-inner">
		         <div class="item-title label">地点</div>
		         <div class="item-input">
		         <input type="text"  name="location"  value=""  placeholder="请输入会议地点"  id="location"  maxlength="50"/>
		         </div>
		       </div>
		       </div>
		       </li>
		       <li class="align-top">
			      <div class="item-content">
			        <div class="item-media"><i class="icon icon-form-comment"></i></div>
			        <div class="item-inner">
			          <div class="item-title label">内容</div>
			          <div class="item-input">
			             <textarea placeholder="请输入会议内容"  draggable="false"  name="content"   maxlength="100"  id="content"> </textarea>
			          </div>
			        </div>
			      </div>
			    </li>
			     <li>
			    </li>
	       </ul>
       </div>
		</form>	      
			      

          </div>
	    
	</div>
</div>

	    