<div class="navbar">
	<div class="navbar-inner">
		<div class="center sliding">快捷键</div>
	</div>
</div>
<div data-page="000" class="page">
				<div class="page-content"> 

				<a href="#" class="button" style="text-align: left;"	onclick="CommonFunc.toHtml('view/index.html')">登录页</a>
				<a href="#" class="button" style="text-align: left;"	onclick="CommonFunc.toHtml('view/F/F002.html')">F002活动统计</a>
				<a href="#" class="button" style="text-align: left;"	onclick="CommonFunc.toHtml('view/G/G000.html')">G001个人中心01</a>
				<a href="#" class="button" style="text-align: left;"	onclick="CommonFunc.toHtml('view/G/G001.html')">G001修改密码01</a>
				<a href="#" class="button" style="text-align: left;"	onclick="CommonFunc.toHtml('view/G/G002.html')">G002二维码</a>
				<a href="#" class="button" style="text-align: left;"	onclick="CommonFunc.toHtml('view/G/G003.html')">G003关于</a>
				<a href="#" class="button" style="text-align: left;"	onclick="CommonFunc.toHtml('view/G/G004.html')">G004关于</a>
				
				<a href="#" class="button " style="text-align: left;" onclick="CommonFunc.toHtml('view/K/K000.html')">K000通知公告02</a>
				<a href="#" class="button " style="text-align: left;" onclick="CommonFunc.toHtml('view/K/K001.html')">K001换届通知详情03</a>
				<a href="#" class="button " style="text-align: left;" onclick="CommonFunc.toHtml('view/Q/Q001.html')">Q001志愿先锋志愿注册页面04</a>
				<a href="#" class="button " style="text-align: left;" onclick="CommonFunc.toHtml('view/Q/Q011.html')">Q011智慧红娘信息申报页面</a>
				<a href="#" class="button " style="text-align: left;" onclick="CommonFunc.toHtml('view/Q/Q012.html')">Q012帮助说明</a>
				<a href="#" class="button " style="text-align: left;" onclick="CommonFunc.toHtml('view/Q/Q022.html')">Q022捐赠查询05</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/R/R001.html')">R001换届选举</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/R/R002.html')">R002换届选举详情页06</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/R/R012.html')">R012党员信息维护07</a>
				<a href="#" class="button "	 style="text-align: left;"onclick="CommonFunc.toHtml('view/R/R013.html')">R013党员发展综合查询08</a>
				<a href="#" class="button "	style="text-align: left;" onclick="CommonFunc.toHtml('view/R/R021.html')">R021账户管理一览页面09</a>
				<a href="#" class="button " style="text-align: left;" onclick="CommonFunc.toHtml('view/R/R022.html')">R022账户管理详情页10</a>
				<a href="#" class="button "	 style="text-align: left;" onclick="CommonFunc.toHtml('view/R/R031.html')">R031在线缴费11</a>
				<a href="#" class="button "	 style="text-align: left;" onclick="CommonFunc.toHtml('view/R/R033.html')">R033在线缴费11</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/R/R032.html')">R032缴费记录12</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/R/R034.html')">R034延时缴费申请13</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/R/R041.html')">R041关系转接一览14</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/R/R051.html')">R051介绍信一览15</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/R/R052.html')">R052介绍信详情</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/R/R042.html')">R042关系转接详情页16</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/S/S011.html')">S011忘记密码17</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/S/S012.html')">S012忘记密码17</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/S/S000.html')">S000首页18</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/Z/Z000.html')">Z000组织建设</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/Z/Z002.html')">Z002组织信息维护19</a>
				<a href="#" class="button " style="text-align: left;"	onclick="CommonFunc.toHtml('view/Z/Z012.html')">Z012党员信息维护19</a>
				</div>
</div>
