       <!-- Top Navbar-->
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">组织建设</div>
	     </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
  <div class="page"   data-page="Z000">
			<div class="page-content login-screen-content">
			<!--组织建设开始-->
			 <div class="content-block">
				组织管理
			</div>
			<div class="content-block-inner content-block-btn content-block-btn-z000">			 
				<div class="row no-gutter">
				  <div class="col-50"><a href="#"><img src="../../img/btn16.svg"> <br/>组织信息</a></div>
				  <div class="col-50"><a href="#"><img src="../../img/btn17.svg"> <br/>信息维护</a></div>
				</div>
			</div>	<!--组织建设结束-->	
		<!--日常党务开始-->
			 <div class="content-block">
				党员管理
			</div>
			<div class="content-block-inner content-block-btn content-block-btn-z000">			 
				<div class="row no-gutter">
				  <div class="col-50"><a href="#"><img src="../../img/btn18.svg"> <br/>党员信息</a></div>
				  <div class="col-50"><a href="#"><img src="../../img/btn19.svg"> <br/>信息维护</a></div>
				</div>
			</div>	<!--日常党务结束-->		
			  </div>
			</div>			
