    <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link" onclick="toK000({{type}})"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">介绍信通知详情</div>
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page no-toolbar"  data-page="K012">
		<div class="page-content">
					 <div class="content-block content-block-r052">
					 <img src="img/message6.svg"/>
						中国共产党党员组织关系介绍信
					 </div>	
					<div class="content-number-r052">编号:000001
					 </div>						 
				<div class="list-block">
					<ul>
					  <li class="r052-content">
						  <p><u>尊敬的东营市机关党委领导：</u></p>
						  <p class="r052-indent"><u>程小明</u>同志（<u>男</u>）,<u>45</u>岁，<u>汉</u>族，系中共<u>正式</u>党员，身份证号码<u>372328196502135460</u>，由<u>市民政局机关党委</u>去<u>东营市机关党委</u>请转接组织关系。该同志党费已交到<u>2016</u>年<u>12</u>月。</p>
						  <p>（有效期<u>1</u>天）</p>
						  <p>时间：<u>2016-06-15</u></p>
						  <p>党员联系电话或其他联系方式：<u>12356480266</u></p>
						  <p>党员原所在基层党委通讯地址：<u>东营市西城区济南路228号</u></p>
						  <p>联系电话：<u>05468065423</u></p>
						  <p>传真：<u>05468065426</u></p>
						  <p>邮编：<u>2570000</u></p>
					  </li>

					</ul>
				  </div>	  
		</div>
	</div>
	  </div>