
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">帮助说明</div>				
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages" style="margin-top:44px;">
	  <div class="page no-toolbar"  data-page="Q002">
				<div class="page-content ">  
					 <div class="content-block content-block-q012">
						志愿先锋
				     </div>
					 <div class="content-block content-block-q01202">
打造“志愿先锋”服务品牌。依托智慧党建平台，通过自愿报名形式广泛招募机关志愿者，培养志愿骨干、深化志愿服务，实现“要我服务”到“我要服务”的转变，打造机关“志愿先锋”服务品牌。重点围绕五水共治等市委、市政府中心以及“学雷锋纪念日”、“国际志愿者服务日”等重大节庆活动开展大众志愿服务，发挥机关干部职工的带领作用。围绕“社区敬老”等特色项目开展自主志愿服务，为基层和弱势群体办一些实事，帮助解决一些实际困难				     </div>
				</div>
		 
	  </div>
	</div>
