
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">帮助说明</div>				
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages" style="margin-top:44px;">
	  <div class="page no-toolbar"  data-page="Q012">
				<div class="page-content page-content-q012">  
					 <div class="content-block content-block-q012">
						智慧红娘
				     </div>
					 <div class="content-block content-block-q01202">
培育“智慧红娘”服务品牌。依托智慧党建平台，开辟“智慧红娘”模块，通过个人自愿申报、基层工会（妇女）组织审核的形式，建立机关未婚青年基础信息库。通过线上推送、自助查询、线下活动相结合的形式，帮助未婚青年扩大交友范围。
				     </div>
				</div>
		 
	  </div>
	</div>
