
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">活动签到</div>
	     </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page  no-toolbar">
		<div class="page-content">
			<div class="content-block content-block-h001"  >
				 <img src="img/code.svg" onclick="toH001()">
			  </div>
			  <div class="list-block content-block-h001">
				 点击上面二维码，即可自行扫描
			  </div>
		</div>
	  </div>
</div>
        

	