       <!-- Top Navbar-->
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">活动统计</div>
	     </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div data-page="H002" class="page  no-toolbar">
		<div class="page-content">		 
			  <div class="content-block">
				  <p><a href="#" class="button">组织活动：{{actCount}}次</a></p>
				  <p><a href="#" class="button">参与活动：{{actJoinCount}}次</a></p>
				  <p><a href="#" class="button">累计积分：{{jiefCount}}分</a></p>
				  <p><a href="#" class="button">完成比例：{{actPercent}}</a></p>
			  </div>
			  				 
		</div>
	  </div>
</div>


