
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center">
			  <div class="buttons-row">
				<a href="#tab1" class="tab-link button02 button">指标查询</a>
				<a href="#tab2" class="tab-link button active button02">综合查询</a>
			  </div>
			</div>
			<div class="right sliding"></div>
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page"  data-page="R013">
		<!-- Tabs, tabs容器, page-content为tabs -->
		<div class=" tabs">
		  <!-- Tab 2 信息维护-->
		  <div id="tab2" class="tab tab02 active">
				<div class="page-content">
 				<div data-page="searchbar">
				<form data-search-list=".search-here" data-search-in=".item-title" class="searchbar searchbar02 searchbar-init">
				  <div class="searchbar-input">
					<input type="search" placeholder="查询条件"/><a href="#" class="searchbar-clear"></a>
				  </div><a href="#" class="searchbar-cancel">取消</a>
				</form>
				<div class="searchbar-overlay"></div>
				</div>	
				
				  <div class="list-block searchbar-not-found">
					<ul>
					  <li class="item-content">
						<div class="item-inner">
						  <div class="item-title">找不到要查询的内容</div>
						</div>
					  </li>
					</ul>
				  </div>
				  <div class="list-block list-block02 search-here searchbar-found">
					<ul>
					  <li class="item-content item-content-r012">
						  <div class="list-block list-block02 media-list">
							<ul>
							  <li><a href="#" class="item-link item-content r012-content">
								  <div class="item-media"><img src="img/r012-head.svg"/></div>
								  <div class="item-inner item-inner02">
									<div class="item-title-row item-title-rownone item-title-row02">
									  <div class="item-title">东营市机关工委关工委关工委</div>
									  <div class="item-after">G20162354654</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">
										<div class="row no-gutter">
											<div class="col-50">年度指标:8</div>
											<div class="col-50">提报指标:8</div>
										 </div>
									  <div class="item-after item-after-time">组织编码:123</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">	
									  <div class="row no-gutter">
											<div class="col-33">审核指标:8</div>
											<div class="col-33">完成比例:90%</div>
											<div class="col-33"></div>
										 </div>									  
									</div>
								  </div></a></li>
								  	<div class="item-text">备注：顾名思义就是主稿没写全的补充再写的东西写的东西</div>
							</ul>
						  </div>
					  </li>
					  <li class="item-content item-content-r012">
						  <div class="list-block list-block02 media-list">
							<ul>
							  <li><a href="#" class="item-link item-content r012-content">
								  <div class="item-media"><img src="img/r012-head.svg"/></div>
								  <div class="item-inner item-inner02">
									<div class="item-title-row item-title-rownone item-title-row02">
									  <div class="item-title">东营市机关工委关工委关工委</div>
									  <div class="item-after">G20162354654</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">
										<div class="row no-gutter">
											<div class="col-50">年度指标:8</div>
											<div class="col-50">提报指标:8</div>
										 </div>
									  <div class="item-after item-after-time">组织编码:123</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">	
									  <div class="row no-gutter">
											<div class="col-33">审核指标:8</div>
											<div class="col-33">完成比例:90%</div>
											<div class="col-33"></div>
										 </div>									  
									</div>
								  </div></a></li>
								  	<div class="item-text">备注：顾名思义就是主稿没写全的补充再写的东西写的东西</div>
							</ul>
						  </div>
					  </li>
					  <li class="item-content item-content-r012">
						  <div class="list-block list-block02 media-list">
							<ul>
							  <li><a href="#" class="item-link item-content r012-content">
								  <div class="item-media"><img src="img/r012-head.svg"/></div>
								  <div class="item-inner item-inner02">
									<div class="item-title-row item-title-rownone item-title-row02">
									  <div class="item-title">东营市机关工委关工委关工委</div>
									  <div class="item-after">G20162354654</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">
										<div class="row no-gutter">
											<div class="col-50">年度指标:8</div>
											<div class="col-50">提报指标:8</div>
										 </div>
									  <div class="item-after item-after-time">组织编码:123</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">	
									  <div class="row no-gutter">
											<div class="col-33">审核指标:8</div>
											<div class="col-33">完成比例:90%</div>
											<div class="col-33"></div>
										 </div>									  
									</div>
								  </div></a></li>
								  	<div class="item-text">备注：顾名思义就是主稿没写全的补充再写的东西写的东西</div>
							</ul>
						  </div>
					  </li>
					  <li class="item-content item-content-r012">
						  <div class="list-block list-block02 media-list">
							<ul>
							  <li><a href="#" class="item-link item-content r012-content">
								  <div class="item-media"><img src="img/r012-head.svg"/></div>
								  <div class="item-inner item-inner02">
									<div class="item-title-row item-title-rownone item-title-row02">
									  <div class="item-title">东营市机关工委关工委关工委</div>
									  <div class="item-after">G20162354654</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">
										<div class="row no-gutter">
											<div class="col-50">年度指标:8</div>
											<div class="col-50">提报指标:8</div>
										 </div>
									  <div class="item-after item-after-time">组织编码:123</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">	
									  <div class="row no-gutter">
											<div class="col-33">审核指标:8</div>
											<div class="col-33">完成比例:90%</div>
											<div class="col-33"></div>
										 </div>									  
									</div>
								  </div></a></li>
								  	<div class="item-text">备注：顾名思义就是主稿没写全的补充再写的东西写的东西</div>
							</ul>
						  </div>
					  </li>
					  <li class="item-content item-content-r012">
						  <div class="list-block list-block02 media-list">
							<ul>
							  <li><a href="#" class="item-link item-content r012-content">
								  <div class="item-media"><img src="img/r012-head.svg"/></div>
								  <div class="item-inner item-inner02">
									<div class="item-title-row item-title-rownone item-title-row02">
									  <div class="item-title">东营市机关工委关工委关工委</div>
									  <div class="item-after">G20162354654</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">
										<div class="row no-gutter">
											<div class="col-50">年度指标:8</div>
											<div class="col-50">提报指标:8</div>
										 </div>
									  <div class="item-after item-after-time">组织编码:123</div>
									</div>
									<div class="item-title-row item-title-rownone item-title-row02">	
									  <div class="row no-gutter">
											<div class="col-33">审核指标:8</div>
											<div class="col-33">完成比例:90%</div>
											<div class="col-33"></div>
										 </div>									  
									</div>
								  </div></a></li>
								  	<div class="item-text">备注：顾名思义就是主稿没写全的补充再写的东西写的东西</div>
							</ul>
						  </div>
					  </li>
					</ul>
				  </div>
				</div>

		  
		  </div>
		</div>
	  </div>
	</div>
        
