    <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#"  class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
			<div class="center sliding">账户详情</div>
			<div class="right sliding"><a href="#" onclick="toR023()" class="button">编辑</a></div>
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page no-toolbar"  data-page="R022">
		<div class="page-content">
			 <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r001"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-k001 label">编号</div>
                <div class="item-input">
                  <input type="text" value="{{id}}" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r002"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">党组织</div>
                <div class="item-input">
                  <input type="text" value="{{organization}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
           <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r003"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">银行账号</div>
                <div class="item-input">
                  <input type="text" placeholder="图片" value="{{G0101}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r004"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">开户银行</div>
                <div class="item-input">
                  <input type="text" placeholder="开户银行" class="" value="{{G0103}}" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
           <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r005"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">联系人</div>
                <div class="item-input">
                  <input type="text" placeholder="联系人" value="{{linker}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
           <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-k003"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">联系电话</div>
                <div class="item-input">
                  <input type="tel" placeholder="联系电话" class="" value="{{phone}}" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
         <li class="align-top">
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-text"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">备注</div>
                <div class="item-input">
                  <textarea readonly="readonly">备注:{{info}}</textarea>
                </div>
              </div>
            </div>
          </li>
		
	 
		</div>
	  </div></div>
	  </div>
	
	