    <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link" ><i class="icon icon-back"></i><span>Back</span></a></div>
			<div class="center sliding">详情</div>
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page no-toolbar"  data-page="R042">
		<div class="page-content">
		
			 <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-s001"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-k001 label">姓名</div>
                <div class="item-input">
                  <input type="text" value="{{a0101}}" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r007"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">性别</div>
                <div class="item-input">
                  <input type="text" value="{{a0104}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
           <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r008"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">身份证号</div>
                <div class="item-input">
                  <input type="text" value="{{a0184}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-calendar"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">出生日期</div>
                <div class="item-input">
                  <input type="text" value="{{a0107}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
           <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r009"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">党员类型</div>
                <div class="item-input">
                  <input type="text" value="{{a0187}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
           <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r010"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">现在党组织</div>
                <div class="item-input">
                  <input type="text" value="{{currentOrgName}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
             <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r011"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">转移方式</div>
                <div class="item-input">
                  <input type="text" value="{{changeTyep}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
              <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r012"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">接收单位</div>
                <div class="item-input">
                  <input type="text" value="{{toOrgName}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
              <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r013"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">有效期天数</div>
                <div class="item-input">
                  <input type="text" value="{{effectDay}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
              <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-comment"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">党组织地址</div>
                <div class="item-input">
                  <input type="text" value="{{currentOrgAddress}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
              <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-tel"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">党组织电话</div>
                <div class="item-input">
                  <input type="text" value="{{currentOrgPhone}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
              <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-r005"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">经办人</div>
                <div class="item-input">
                  <input type="text" value="{{operator}}" class="" readonly="readonly">
                </div>
              </div>
            </div>
          </li>
		</ul>
	 
		</div>
	  </div></div>
	  </div>
	