   <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
			<div class="center sliding">证明信详情</div>
		  </div>
		</div>
	<div class="pages">
	  <div class="page no-toolbar" data-page="R062">
				<div class="page-content">
					 <div class="content-block content-block-r052">
					 <img src="img/message.svg"/>
						{{carnetTitle}}
					 </div>	
					<div class="content-number-r052">编号:{{carnetNum}}
					 </div>						 
				<div class="list-block">
					<ul>
					  <li class="r052-content">
						  <p><u>{{appellation}}：</u></p>
						  <p class="r052-indent">现介绍<u>程小明</u>同志系中国<u>正式</u>党员,由<u>高新区党工委</u>去<u>机关党工支委</u>，工作（学习），特此证明。</p>
						  <p align="right"><u>高新区党工委</u></p>
						  <p align="right">时间：<u>2016年06月15日</u></p>
					  </li>

					</ul>
				  </div>	  
		</div>
	  </div>
	</div>	
        
