
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="swiper.html" class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">帮助说明</div>				
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages" style="margin-top:44px;">
	  <div class="page no-toolbar"  data-page="F001">
				<div class="page-content ">  					 
					 <div class="content-block content-block-k00502">
积分管理是建立在绩效考核的基础上，自员工入职起对绩效、日常行为、工作 态度等实行积分化管理的方式。积分达到一定水平后，员工可以凭所获积分享受弹性福利。积分管理以“目标管理为主，行为管理和动力管理为辅”。通过积分制度，一方面是向员工提供正强化激励；另一方面帮助员工提高工作能力，激发员工持续提供高绩效的动机，从而建立良好的企业绩效文化氛围。采用A分、B分两种形式体现。 A分为物质分：主要侧重于对员工的物质激励； B分为精神分：强调对员工的精神激励及评优奖励。			</div>
		 
	  </div>
	</div>
