
       <!-- Top Navbar-->
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">
			  积分排名
			</div>
			<div class="right sliding"></div>
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page no-toolbar" data-page="F003">
		<!-- Tabs, tabs容器, page-content为tabs -->
		
				<div class="page-content infinite-scroll pull-to-refresh-content" id="f003page" data-distance="10"   data-ptr-distance="55">
				<div class="pull-to-refresh-layer">
			      <div class="preloader"></div>
			      <div class="pull-to-refresh-arrow"></div>
		    	</div>
 					<div >
				<form class="searchbar searchbar-init" id="f003SearchForm">
				  <div class="searchbar-input">
					<input type="search" placeholder="党组织名称" id="f003SearchField" maxlength="20"/><a href="#" class="searchbar-clear"></a>
				  </div><a href="#" class="searchbar-cancel">取消</a>
				  <input type="hidden" name="f003PageNum" value="1" id="f003PageNum">
				</form>
				<div class="searchbar-overlay"></div>
							  </div>	
				
				  <div class="list-block searchbar-not-found">
					<ul>
					  <li class="item-content">
						<div class="item-inner">
						  <div class="item-title">找不到要查询的内容</div>
						</div>
					  </li>
					</ul>
				  </div>
				  <div class="list-block list-block02 search-here searchbar-found">
					<ul id="f003ul">
					   {{#each this}}
		  <li class="item-content item-content-r012">
			  <div class="list-block list-block02 media-list">
				<ul>
				  <li><a href="#" class="item-link item-content r012-content">
					  <div class="item-inner item-inner02 item-inner-f002">
					  <div class="item-title-row item-title-rownone item-title-row02 item-title-rowf002">
						  <div class="item-title"><img src="img/f01.svg">{{orgName}}</div>
						</div>
						<div class="item-text item-text-r041">
						<div class="ks-grid-r041 ks-grid-f002">
						<div class="row no-gutter">
						  <div class="col-50 col-line">
						    <div class="r041-top r041-top-title"><img src="img/f02.svg">第{{rank}}名</div>
						  </div>
						  <div class="col-50"><div class="r041-top r041-top-title f002-top-title"><img src="img/f03.svg">累计积分：{{countPoint}}</div>
							</div>
						</div>
						</div>
						</div>
					  </div>
					  </a></li>
				</ul>
			  </div>
		  </li>
		  {{/each}}
					</ul>
				  </div>
				</div>

		  
		  </div>
		</div>
