        <div class="navbar">
		  <div class="navbar-inner">
			<div class="center sliding">首页</div>
		  </div>
		</div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
		 <div data-page="S000" class="page">
			<div class="page-content login-screen-content" >
				<!-- Slider -->
			 <div data-speed="400" data-pagination=".swiper-pagination-c6" data-space-between="1"   data-loop="true" class="swiper-container swiper-init ks-carousel-slider">
					<div class="swiper-pagination swiper-pagination-c6"></div>
					<div class="swiper-wrapper">
					  <div class="swiper-slide"><img src="img/01.jpg"></div>
					  <div class="swiper-slide"><img src="img/02.jpg"></div>
					  <div class="swiper-slide"><img src="img/03.jpg"></div>
					</div>
				  </div>
			  		<div  id="dangyuan"  style="display: none;">
			 <div class="row">
					 <div class="content-block content-block00-title col-33"  style="text-align: center;">
						组织建设
					</div>
					<div class="content-block content-block00-title col-33"  style="text-align: center;">
						日常党务
					</div>
					 <div class="content-block content-block00-title col-33"  style="text-align: center;">
						活动管理
					</div>
			</div>
			<div class="content-block-inner content-block-btn">			 
				<div class="row no-gutter">
		  		  <div class="col-33"    id="dangyuanguanli" style="text-align: center;"><a href="#"  onclick="toZ0120()"><img src="img/btn02.svg"> <br/>党员管理</a></div>
				  <div class="col-33"  	id="guanxizhuanhuan" style="text-align: center;"><a href="#"	 onclick="toR04101('1')"><img src="img/btn06.svg"> <br/>关系转接</a></div>
				  <div class="col-33"  	id="daoamqiandao" style="text-align: center;"><a href="#"	 onclick="CommonFunc.toHtml(Constant.CommonCommand.H001HTML)"><img src="img/btn07.svg"> <br/>扫码签到</a></div>
				  
				</div>
			</div>	
				<div class="row">
				 <div class="content-block content-block00-title col-33" id="quntuanjianshe01" style="text-align: center;">
					群团建设
				</div>
				<div class="content-block content-block00-title col-33"  style="text-align: center;">
						</div>
						 <div class="content-block content-block00-title col-33"  style="text-align: center;">
						</div>
				</div>
			<div class="content-block-inner content-block-btn"  id="quntuanjianshe02">			 
				<div class="row no-gutter">
				  <div class="col-33"  id="zhiyuanxianfeng" style="text-align: center;"><a href="#"	 onclick="toQ001()"><img src="img/btn10.svg"> <br/>志愿先锋</a></div>
				  <div class="col-33" id="zhihuihongnian" style="text-align: center;"><a href="#"	 onclick="toQ011()"><img src="img/btn11.svg"> <br/>智慧红娘</a></div>
				  <div class="col-33" id="zhenqingchaoshi" style="text-align: center;"><a href="#"	 onclick="toQ02201('1')"><img src="img/btn12.svg"><br/>真情超市</a></div>
				</div>
			</div>		
					
			  </div>
			  
			  
			  
			  		<div  id="zuzhi"  style="display: none;">
				<!-- Slider -->
			 
			 <div class="row">
					 <div class="content-block content-block00-title col-33"  style="text-align: center;">
						组织建设
					</div>
					<div class="content-block content-block00-title col-33"  style="text-align: center;">
						活动统计
					</div>
					 <div class="content-block content-block00-title col-33"  style="text-align: center;">
						
					</div>
			</div>
			<div class="content-block-inner content-block-btn" >			 
				<div class="row no-gutter">
				  <div class="col-33" id="zuzhiguanli" style="text-align: center;"><a href="#" onclick="toZ0020()"><img src="img/btn01.svg"> <br/>组织管理</a></div>
				  <div class="col-33"  id="huodongtongji" style="text-align: center;"><a href="#"	 onclick="toH002()"><img src="img/btn08.svg"><br/>活动统计</a></div>
				  <div class="col-33"  	id="daoamqiandao" style="text-align: center;"></div>
				  
				</div>
			</div>	
				<div class="row">
				 <div class="content-block content-block00-title col-33" id="quntuanjianshe01" style="text-align: center;">
					日常党务
				</div>
				<div class="content-block content-block00-title col-33"  style="text-align: center;">
						</div>
						 <div class="content-block content-block00-title col-33"  style="text-align: center;">
						</div>
				</div>
			<div class="content-block-inner content-block-btn"  id="quntuanjianshe02">			 
				<div class="row no-gutter">
				   <div class="col-33"  id="huanjiexuanju"  style="text-align: center;"><a href="#"  onclick="toR001()"><img src="img/btn03.svg"> <br/>换届选举</a></div>
				  <div class="col-33" id="dangyuanfazhan"  style="text-align: center;"><a href="#"	onclick="toR012()"><img src="img/btn04.svg"> <br/>党员发展</a></div>
				  <div class="col-33" id="dangfeijiaona" style="text-align: center;"><a href="#"	 onclick="toR021()"><img src="img/btn05.svg"> <br/>党费缴纳</a></div>
				</div>
			</div>	
			
			
			<div class="row">
				 <div class="content-block content-block00-title col-33" id="quntuanjianshe01" style="text-align: center;">
					积分考核
				</div>
				<div class="content-block content-block00-title col-33"  style="text-align: center;">
						</div>
						 <div class="content-block content-block00-title col-33"  style="text-align: center;">
						</div>
				</div>
			<div class="content-block-inner content-block-btn"  id="quntuanjianshe02">			 
				<div class="row no-gutter">
				  
				  <div class="col-33" id="tongjifenxi" style="text-align: center;"><a href="#" 	 onclick="toF00201('1')"><img src="img/btn13.svg"> <br/>统计分析</a></div>
				  <div class="col-33" id="jifenpaiming" style="text-align: center;"><a href="#" 	 onclick="toF003()"><img src="img/btn14.svg"> <br/>积分排名</a></div>
			 	  <div class="col-33" id="guizeshuoming"  style="text-align: center;"><a href="#" 	 onclick="CommonFunc.toHtml('view/F/F001.html')"><img src="img/btn15.svg"><br/>规则说明</a></div>

				</div>
			</div>	
					
			  </div>
			</div>
