    <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="view/S/S011.html" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
			<div class="center sliding">忘记密码</div>
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page  no-toolbar"  data-page="S012">
		<div class="page-content">
		
			 <div class="list-block">
		<form action="" id="s012Form">
			 
        <ul>
       
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-k002"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">新密码</div>
                <div class="item-input">
                  <input type="password" placeholder="新密码" class="" name="newPassword0" id="newPassword0"   maxlength="50">
                </div>
              </div>
            </div>
          </li>
           <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-k003"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">确认密码</div>
                <div class="item-input">
                  <input type="password" placeholder="确认密码" class=""  name="newPassword" maxlength="50">
                  <input type="hidden"    name="userAccount" value="{{userAccount}}" id="userAccount">
                </div>
              </div>
            </div>
          </li>
         
		 </ul>
		 </form>
	  <div class="content-block">
				<a href="#" class="button button-round active"  onclick="s011updatePassword()">保存</a>
	  </div>	
		</div>
	  </div>
	</div>
	  </div>