    <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#"  class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
			<div class="center sliding">修改密码</div>
		  </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page no-toolbar"  data-page="G001">
		<div class="page-content">
		<form action="" id="g001form">
			 <div class="list-block">
			 <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-k001"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-k001 label">旧密码</div>
                <div class="item-input">
                  <input type="password" id="oldPassword" name="oldPassword" placeholder="旧密码">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-k002"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">新密码</div>
                <div class="item-input">
                  <input type="password" id="newPassword" name="newPassword" placeholder="新密码" class="">
                </div>
              </div>
            </div>
          </li>
           <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-k003"></i></div>
              <div class="item-inner"> 
                <div class="item-title item-title02 label">确认密码</div>
                <div class="item-input">
                  <input type="password" id="qrnewPassword" name="qrnewPassword" placeholder="确认密码" class="">
                </div>
              </div>
            </div>
          </li>
         
		 </ul>
	  <div class="content-block">
				<a href="#" class="button button-round active" onclick="updatePassword()">保存</a>
	  </div>	
	
		</div>
		  </form>
	  </div>
		</div>
	  </div>