
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">我的二维码</div>
	     </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page no-toolbar" data-page="G002">
		<div class="page-content">
			<div class="content-block">						  
						<div class="list-block list-block02 list-block-g002 media-list">
							<ul>
							  <li><a href="#" class="item-link item-content r012-content">
								  <div class="item-media item-media-k0"><img src="{{userHead}}"/></div>
								  <div class="item-inner item-inner-r001 item-inner-g002">
									<div class="item-title-row item-title-rownone">
									  <div class="item-title">{{username}}</div>
									</div>
									<div class="item-text item-text02 item-text-g002">{{sex}} <label class="g002-age">{{age}}岁</label>
									</div>
								  </div></a></li>
							 <li><a href="#" class="item-link item-content r012-content">
							 <div class="card demo-card-header-pic">
									 <div valign="bottom" class="card-header color-white no-border">
										<img src="{{srcUrl}}">
									 </div>
									 </div>
								  </a></li>									  
							</ul>
						  </div>		  
					</div>
			  
		</div>
	  </div>
</div>
        

	