
<div class="navbar">
	<div class="navbar-inner">
	<div class="left sliding"><a href="#" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
		<div class="center sliding">关于</div>
	</div>
</div>
<div class="pages">
	  <div data-page="G003" class="page no-toolbar">
				<div class="page-content"> 
						  <div class="content-block-title">						  
								  <div class="item-inner item-inner02 item-inner-head">
								   <img src="img/01.png">
								  </div>

							<div id="version" class="item-text-g002 item-text-g">
							    V{{version}}
							</div>
						  </div>
					 
					
					 <div class="list-block list-block02">
					<ul>
					  <li class="item-content item-content-r012">
						  <div class="list-block list-block02 media-list">
							<ul>
							  <li><a href="#" class="item-link item-content" onclick="CommonFunc.toHtml('view/G/G006.html')">
								  <div class="item-inner">
									<div class="item-title-row" >
									  <div class="item-title item-title-g">欢迎页</div>
									</div>
								  </div></a></li>
								  <li><a href="#" class="item-link item-content" onclick="CommonFunc.toHtml('view/G/G005.html')">
								  <div class="item-inner">
									<div class="item-title-row" >
									  <div class="item-title item-title-g">用户协议</div>
									</div>
								  </div></a></li>
								 
							</ul>
						  </div>
					  </li>

					</ul>
				  </div>
				</div>
	  </div>
</div>


