
       <!-- Top Navbar-->
        <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#"  class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">头像变更</div>
	     </div>
		</div>
		<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
 <div class="pages">
	  <div class="page"  data-page="G004">
		<div class="page-content">
			  <div class="content-block content-block-h001">
				 <img src="img/20.png">
			  </div>		
			  <div class="content-block">
				  <p><a href="#" class="button">上传相册照片</a></p>
			  </div>			  				 
		</div>
	  </div>
</div>
        

	