
       <!-- Top Navbar-->
     <div class="navbar">
		  <div class="navbar-inner">
			<div class="left sliding"><a href="#"   class="back link"><i class="icon icon-back"></i></a></div>
			<div class="center sliding">欢迎页</div>					
		  </div>
		</div>
	<div class="pages navbar-through">
  <div data-page="swiper-horizontal" class="page  no-toolbar"  data-page="G006">
    <div class="page-content page-content-g006">
      <div data-pagination=".swiper-pagination" data-pagination-hide="true" class="swiper-container swiper-init ks-demo-slider">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="img/welcome01.png"></div>
          <div class="swiper-slide"><img src="img/welcome02.png"></div>

        </div>
      </div>
    </div>
  </div>
</div>
		
		
     